<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>fi.suuronen.avsys</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/python</string>
		<string>/Shared Items/avsys/a.py</string>
	</array>
	<key>KeepAlive</key>
		<true/>	
	<key>UserName</key>
		<string>avsys</string>
	
</dict>
</plist>
